* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #3db36b;
  --color-primary-hover: #33965a;
  --white: #fff;
  --black: #000;
  --blue: #0d6efd;
}

body {
  font-family: "Roboto";
}

.bg-primary {
  background-color: #3db36b !important;
}

#header-top-line .nav,
#header-main .navbar {
  letter-spacing: 0.125rem;
  font-weight: 700;
  font-size: 0.75rem !important;
  line-height: 1.5;
  padding: 0;
}

#header-top-line .nav-link:hover {
  background-color: #5cc786;;
}

#header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative !important;
}

#header-logo .hero-image {
  background: url(../img/wp1881530.jpeg) no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.8;
}

.navbar-brand {
  display: inline-block;
  font-size: 1.875rem;
  line-height: inherit;
  white-space: nowrap;
}

.dropdown-menu {
  margin: 0 -0.5rem;
  padding: 0.5rem 0;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0;
}

.dropdown-menu .dropdown-item {
  color: var(--white);
  letter-spacing: 0.125rem;
  font-weight: 700;
  font-size: 0.75rem;
}

.dropdown-menu .dropdown-item:hover {
  color: var(--white);
  background-color: #5cc786;
}

.navbar-toggler {
  border-radius: 0;
  outline: none !important;
}

.navbar .nav-link,
.navbar .home,
.navbar .shop-cart {
  color: var(--black) !important;
  position: relative;
}

.navbar .nav-link:hover:before {
  transition: all 0.2s ease-in-out;
  position: absolute;
  content: "";
  height: 0.1875rem;
  left: 1.25rem;
  right: 1.25rem;
  bottom: 0;
  background: var(--color-primary);
}

.navbar .nav-link:hover,
.navbar .home:hover,
.navbar .shop-cart:hover {
  color: var(--color-primary) !important;
}

.home,
.shop-cart {
  font-size: 2rem;
  padding: 1.3125rem;
}

.features-icons-item {
  text-align: center;
}

.features-icons-icon {
  font-size: 4.5rem;
}

.btn {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-primary {
  color: var(--white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  color: var(--white);
  background-color: var(--color-primary-hover);
  border-color: #308d54;
}

.btn-outline-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-outline-primary:hover {
  color: var(--white);
  background-color: #3db36b;
  border-color: #3db36b;
}

input {
  border-radius: 0 !important;
  background-clip: unset !important;
}

.new-products-card .card-header,
.blog-card .card-header {
  background-color: var(--color-primary);
  border: none;
  border-radius: 0;
}

.new-products-card .chip {
  color: var(--black);
  padding: 4px 8px;
}

.chip.active {
  color: var(--white);
  background: var(--blue);
}

.footer-content .nav-link {
  color: var(--black);
  opacity: 0.6;
}

.footer-content .nav-link:hover {
  opacity: 1;
  cursor: pointer;
}

.social-media .nav-link {
  font-size: 1.5rem;
}

#backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1020;
}

#backToTop.btn-round {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .navbar .nav-link {
    padding: 2.25rem 1.25rem !important;
  }
}

@media screen and (max-width: 992px) {
  .navbar .nav-link:hover:before {
    display: none;
  }

  .navbar-collapse .dropdown-menu {
    background-color: var(--white);
  }

  .navbar-collapse .dropdown-menu .dropdown-item {
    color: var(--black);
  }

  .home,
  .shop-cart {
    font-size: 1.875rem;
    padding: 0;
  }
}
