* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #3db36b;
  --white: #fff;
  --black: #000;
  --gray: #ccc;
}

/* body {
  font-family: "Roboto", sans-serif;
} */

.bg-primary {
  background-color: #3db36b !important;
}

#header-top-line .nav,
#header-main .navbar {
  letter-spacing: 0.125rem;
  font-weight: 700;
  font-size: 0.75rem !important;
  line-height: 1.5;
  padding: 0;
}

.navbar-brand {
  display: inline-block;
  font-size: 1.875rem;
  line-height: inherit;
  white-space: nowrap;
}

.dropdown-menu {
  margin: 0 -0.5rem;
  padding: 0.5rem 0;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0;
}

.dropdown-menu .dropdown-item {
  color: var(--white);
  letter-spacing: 0.125rem;
  font-weight: 700;
  font-size: 0.75rem;
}

.dropdown-menu .dropdown-item:hover {
  color: var(--white);
  background: #5cc786;
}

.navbar-toggler {
  border-radius: 0;
  outline: none !important;
}

.navbar .nav-link,
.navbar .home,
.navbar .shop-cart {
  color: var(--black) !important;
  position: relative;
}

.navbar .nav-link:hover:before {
  transition: all 0.2s ease-in-out;
  position: absolute;
  content: "";
  height: 0.1875rem;
  left: 1.25rem;
  right: 1.25rem;
  bottom: 0;
  background: var(--color-primary);
}

.navbar .nav-link:hover,
.navbar .home:hover,
.navbar .shop-cart:hover {
  color: var(--color-primary) !important;
}

.home,
.shop-cart {
  font-size: 1.875rem;
  padding: 2.25rem 1.25rem;
}

.feature-box {
  text-align: center;
}

.feature-box .icon {
  font-size: 3rem;
  margin-bottom: 0.75rem;
}

.btn {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-primary {
  color: var(--white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  color: var(--white);
  background-color: #33965a;
  border-color: #308d54;
}

.btn-outline-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-outline-primary:hover {
  color: var(--white);
  background-color: #3db36b;
  border-color: #3db36b;
}

input {
  border-radius: 0 !important;
  background-clip: unset !important;
}

.chips .chip {
  color: var(--black);
  padding: 4px 8px;
}

.chip.active {
  color: var(--white);
  background: var(--gray);
}

.footer {
  color: var(--white);
  background-color: #222;
}

.footer .footer-content {
  padding: 90px 0 16px;
}

.footer .nav-link {
  opacity: 0.5;
}

.footer .nav-link:hover {
  opacity: 1;
}

.footer .social-media .nav-link {
  font-size: 1.5rem;
  opacity: 0.5;
}

.footer .social-media .nav-link:hover {
  opacity: 1;
}

.footer .footer-bar {
  text-align: center;
  padding: 22px 0;
  border-top: 1px solid #2c2c2c;
}

#backToTop {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 1020;
}

.btn-round {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .navbar .nav-link {
    padding: 2.25rem 1.25rem !important;
  }
}

@media screen and (max-width: 992px) {
  .navbar .nav-link:hover:before {
    display: none;
  }

  .dropdown-menu {
    background-color: var(--white);
  }

  .dropdown-menu .dropdown-item {
    color: var(--black);
  }

  .home,
  .shop-cart {
    font-size: 1.875rem;
    padding: 0;
  }
}
